<div class="products-container">
  <h2>🛒 Our Products</h2>

  <div class="product-grid">
    <div class="product-card" *ngFor="let product of products" [routerLink]="['/products', product.id]">
      <img [src]="product.image" [alt]="product.name" />
      <h3>{{ product.name }}</h3>
      <p class="price">${{ product.price }}</p>
      <p class="desc">{{ product.description }}</p>
      <button class="btn-add" (click)="cartService.addToCart(product);">Add to Cart</button>
    </div>
  </div>
</div>